*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("../img/BG.jpg");
    background-size: cover;

    header{
        text-align: center;
        width: 100%;
        img{
            max-width: 100%;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        img{
            max-width: 100%;
        }
        .dots{
            padding-top: 15%;
        }
    }

    footer{
        text-align: center;
        img{
            width: 100%;
        }
    }
}